@import './style/global.scss';

.app--main{
height:100vh;
width:100%;
margin:0%;
}

.app-show-menu{
    display:flex;
    flex-direction:column;
    background:$navy;
    height:100%;
    width: 30%;
    position: absolute;
    opacity:1;
    transition: 0.5s ease;
}
.app-hidden-menu{
    display:flex;
    flex-direction:column;
    background:$navy;
    height:100%;
    width: 0%;
    position: absolute;
opacity:0;
transition: 0.5s ease;
}

.app--top-menuButton{
    position: absolute;
}
