@import '../../style/global.scss';

.svg {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.svg-circle-bg {
    fill: none;
}

.svg-circle {
    fill: none;
}
.svg-circle-text {
   font-size: 1rem;
    text-anchor: middle;
     font-weight: bold;
    fill:$dois;
}

@media only screen and (min-width:800px){
    .svg-circle-text {
        font-size: 2rem;
     
     } 
}