@import '../../style/global.scss';

.wall--main{
width:100%;
height:100vh;
display:flex;
flex-direction:column;
background:$navy;
display:flex;
justify-content: center;
align-items:center;
}

.wall--left-posts{
    margin-top:10%;
    background:$navy;
    width:80%;
    height:80%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    overflow-y:auto;
   
}


.wall--rigth-insertPosts{
    width:100%;
    height:100%;
    display:flex;
 

}


.wall-center-formInput{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;

}
.wall--center-form{
    width:100%;
    height:100%;
}
.wall--input {
    background: $green;
    border: none;
    border-radius: 5%;
    height: 10%;
    width: 70%;
    font-size: 3vh;
    margin-top: 4%;
    padding-left: 5%;
    color: $gray;
  }
  #wall-button{
      height:20vh;
  }




.wall--top-circle{ 
    font-size:3vh;
    width:25%;
    height:40%;
    background:$green;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-radius:100%;
    margin-bottom:10%;
    padding:0 2.5% 0 2.5%;
    margin:0 5% 0 5%;
}

.wall--right-inputs{
width:55%;
height:70%;
display:flex;
flex-direction: column;
font-size:2vh;
}

#wall--input-textarea{
    height:30%;
}

@media only screen and ( min-width:660px){
    #wall-button{
        height:10vh;
    }
    .wall--top-circle{ 
        
        width:100%;
        height:100%;
        
    }
    .wall--main{
        flex-direction:row;
    }
.wall--center-form{
    width:80%;
   
}
.wall-center-formInput{
flex-direction:column;
display:flex;
justify-content: center;
align-items: center;
}
.wall--rigth-insertPosts{
    height:80%;
    width:50%;
   
   

}
.wall--top-circle{
    width:100%;
    height:10%;
  border-radius:0%;
margin-top:20%;
background: transparent;
}
.wall--right-inputs{
    width:85%;
    height:70%;
    font-size:3vh;
  
    }
    .wall--left-posts{
        margin:0;
        width:70%;
    }

    .wall--rigth-posts{
        
        margin:0;
        width:30%;
    }
    .wall--center-form{
        margin:auto;
    }
    .wall--input {
        height:12%;
    }
}
.wall--top-input{
    display:flex;
 
}