@import "../../style/global.scss";


::-webkit-file-upload-button{
  background:$lightOrange;
  padding:1%;
  cursor:pointer;
  color:white;
  border:none;
 

}
.insert-image{
  width:50%;
  height:100%;
}