@import "./global.scss";

.bottom{
    width:100%;
    height:90%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.center-form-big{
    width:80%;
    height:90%;
  background:$darkGreen;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:3%;
    overflow-y: auto;


}
.form-wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.center-inputs-big{
    display:flex;
    flex-direction:column;
    width:100%;
    height:15%;
  align-items:center;
  margin-top:1%;

}

.input-big{
    background: $black;
    border: none;
    border-radius: 5%;
    height: 50%;
    width: 80%;
    font-size: 3vh;
    margin-top: 1%;
    padding-left: 5%;
    color: $gray;

}

.input-big:focus{
    border: 1px solid $gray;
    box-shadow: inset 5px -5px 50px rgba(169, 163, 163, 0.253);
    transition: 0.5s ease;
}
@media only screen and ( min-width:600px)and (max-width:1000px){
    .bottom{
        width:50%;
        height:90%;
        
    }
       .center-inputs-big{
      
        height:15%;
      
    }
    
    .input-big{
       
        height: 50%;
        width: 80%;
      
        margin-top: 0%;
       
    }
  
}
@media only screen and (min-width:1001px){
    .bottom{
        width:60%;
        height:90%;
        
    }
    .center-form-big{
        width:55%;
        height:85%;
      
    }
  
    .center-inputs-big{
      
        height:15%;
      
    }
    
    .input-big{
       
        height: 55%;
        width: 80%;
      
        margin-top: 0%;
       
    }
}