/* @import "./global.scss";


.center-form {
  width: 85%;
  height: 80%;
  background: $darkGreen;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:10px;
  box-shadow:  -8px 6px 20px rgba(0, 0, 0, 0.726);
}

.center-formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
 
}



.top-circle {
  height:25%;
  width:40%;

border-radius: 100%;
overflow: hidden;
display:flex;
justify-content: center;
align-items: center;
background:$navy;

}

.top-circle h1{
  font-size:160%;
width:90%;
height:90%;
display:flex;
justify-content: center;
align-items: center;
flex-wrap:wrap; 
text-align: center;

}




@media only screen and (min-width:560px) and (max-width:1030px){
  .center-form {
    width: 50%;
    height: 80%;
    
  }

.top-circle {
    width: 45%;
    height: 45%;
    border-radius: 100%;
    background: $black;
  
  }
}
@media only screen and (min-width:1030px){


.center-form {
  width: 30%;
  height: 80%;
  
}


.input {
  
  border-radius: 15px;
  height: 20%;
 
}

.top-circle {
  width: 55%;
  height: 45%;
  border-radius: 100%;
  background: $black;

}

} */

