// main pallet

$navy:#050633;
$darkBlue:#061438;
$black:#051421;
$darkGreen:#062F38;
$green:#05332F;


//gray scale

$white:#A9A3A3;
$gray:#888787;
$darkGray:#535252;
$reallyDarkGray:#393737;


//highlights
$highlightBlue:#2892E9;
$highlightpurple:#4A4C87;
$highlightLightBlue:#02B2DB;
$highlightLightGreen:#01D3BA;

$fontBody:Titillium Web;
$fontHeadLine:Amaranth;
