::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}
// main pallet

$navy: #050633;
$darkBlue: #061438;
$black: #051421;
$darkGreen: #062f38;
$green: #05332f;

//gray scale

$white: white;
$gray: #888787;
$darkGray: #535252;
$reallyDarkGray: #161515;

//highlights
$highlightBlue: #2892e9;
$highlightpurple: #4a4c87;
$highlightLightBlue: #85dcf0;
$highlightLightGreen: #01d3ba;

$fontBody: "Titillium Web";
$fontHeadLine: "Amaranth";

$lightOrange: #f4a471;
$orange: #f26628;

$um: #0c3e59;
$dois: #649bf5;
$tres: #293f71;
$quatro: #0c0303a4;
$cinco: #72b894;
$sete: #f2f0f3;

span {
  color: $highlightLightBlue;
}

img {
  width: 80%;
  height: 80%;
}

.post-h3 {
  font-size: 1vh;

  margin: 0 0 2% 0;
}

.post-p {
  font-size: 1vh;
  word-break: break-all;
  margin: 0;
}
.lighGreen {
  color: $orange;
  margin: 0;
}
.red {
  color: red;
}
.page-name {
  opacity: 0;
  transition: 0.5s ease;
}
.myWall {
  display: none;
}
.post-wall{
  opacity:0;
  transition: 0.5s ease;
}
.dashboard-row{
  overflow:"auto"
}
@media only screen and (min-width: 700px) {
  .page-name {
    opacity: 1;
    transition: 0.5s ease;
  }
  .myWall {
    display: block;
  }
  .post-wall{
    opacity:1;
    transition: 0.5s ease;
  }
  .dashboard-row{
    overflow:"hidden"
  }
}
