@import "../../../style/global.scss";

.register--wrapper-avatar {
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  overflow:hidden;
  text-align: center;
  img {
    width: 50%;
    height: 100%;
  }
  label {
    padding-top:3%;
    width:80%;
    height:100%;
    font-weight:700;
    font-size: 3vh;
    cursor:pointer;
    color:white;
  }
}

.register--center-avatar {
  visibility: hidden;
}

@media only screen and (min-width:800px){
  
.register--wrapper-avatar {
  height: 100%;
  width: 45%;

  label {
   
   
    font-size: 4.5vh;
  }
}
.register--wrapper-avatar {

img{
width:80%;
    height:100%;
}}
}