@import '../../style/global.scss';

.myHours--main{
    width:100%;
    height:100vh;
    background:$darkGreen;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:white;
}
.myHours--top{
display:flex;
width:70%;
color:$highlightLightBlue;
justify-content: space-between;
padding:0 5% 0 5%;
border: 1px solid $highlightLightBlue;;
align-items: center;
background-color: $darkBlue;
}
.myHours--top button{
    align-self:center;
}
#myHours--top-button{
    height:35%;
    width:20%;
    margin-top:0;
    
}
.myHours--center-table{
background-color: $darkBlue;
width:80%;
height:80%;

overflow-y: auto;
overflow-x: auto;
flex-wrap:wrap;
display:flex;
justify-content: center;

}