@import "../../style/global.scss";

.icons{
    width:65%;
    height:65%;
    margin-left:20%;
    cursor:pointer;
}
.icons-disable{
    width:65%;
    height:65%;
    margin-left:20%;
    cursor:pointer;
    filter:grayscale(100%);

}
.Table--main{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    overflow-x:auto;
    padding:5% 0 5% 0 ;


}
.Table--center-table{
    width:90%;
    height:70%;

   


}
.Table--center-table td{
border-bottom:0.5px solid $gray;
width:20%;
height:9vh;

}
.table--top-headlines{
    color:$highlightLightGreen;
    font-size:4vh;
        background:re;

}

@media only screen and (max-width:1024px){
    .table--top-headlines{
        font-size:3vh;
    }
    .Table--center-table td{
        font-size:2vh;
        }
        .Table--main{
           
            margin-top:10%;
         
        
        }
}