

.image-employee {
  opacity: 0;
      transition: 0.4s ease-in-out;

}

@media only screen and (min-width:700px) {
  .image-employee {
    opacity: 1;   
     width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
  }
}
