@import '../../../../style/global.scss';


.name-progress{
    font-size:3vh;
    width:40%;
    margin-right:20%;
    color:$tres;
}
@media only screen and (min-width:800px){
    .name-progress{
     
        margin-right:10%;
     
    }  
}