@import "../../../style/global.scss";
::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  
.EmployeeInfo-main{
    height:100vh;
    width:100%;
    margin:0%;
    background:$darkBlue;
    display:flex;
    flex-direction:column;
    overflow-x: auto;
}


.employeeInfo--display-main{
    width:100%;
    height:90%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

    }
    .employeeInfo--row{
        margin-top:2%;
        width:33.3%;
        height:35%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border:1px solid $gray;
        font-size:3vh;
        font-family: $fontHeadLine;
        margin-left: 3%;
        box-shadow: -6px 6px 10px black;
       
    }
    .employeeInfo--row img{
        width:40%;
        height:50%;
        
    }

#disable{
  filter:grayscale(100%);
  cursor:none;
}