@import "../../style/global.scss";

.login-main {
  height: 100vh;
  width: 100%;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-formInput img {
  height: 100%;
  width: 100%;


}
#gloves-circle{
  background:$black;
}

#login{
  margin-top:10%;
}


@media only screen and (min-width:1030px){


  .center-formInput img {
    height: 100%;
    width: 100%;
    animation: balance;
      animation-duration: 3s;
    transform: rotate(0deg);
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
  }
  #login{
      margin-top:10%;
  }

  }