@import "../../../style/global.scss";
::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  .dashboard--top-nav{
    width:100%;
    display:flex;
    justify-content: flex-end;
    border-bottom:1px solid $gray;
background:$darkBlue;

}
.dashboard--top-nav img{
    width:10%;
    height:40%;
}
.dashboard-main{
    max-height:100vh;
    width:100%;
    margin:0%;
    background:$darkBlue;
    display:flex;
    flex-direction:column;
    overflow-y: scroll;
}
.dashboard--display-main{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    

}

.dashboard--top{
    height:100%;
    width:100%;
    display:flex;

}
.dashboard--left-top-welcome{
  
    height:100%;
    width:45%;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    padding:3%;
}

.dashboard--center-top-totalHours{
    height:100%;
    width:45%;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    padding:3%;
   
    background:$darkGreen;
    border:1px solid $gray;
    

}
.dashboard--center-top-totalHours h1{
    width:80%;
    margin:10% auto auto auto;
    color:$white;
    font-size:4.6vh;

}

.dashboard--bottom{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
  
}
.dashboard--left-bottom-myWall{
    width:100%;
    max-height:50%;
    background-color:$darkBlue;
    border:0.3px solid $gray;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
  


}
.dashboard--left-bottom-myWall h1,.dashboard--center-bottom h1{
    border-bottom:1px solid $gray;
    font-size:4vh;
    font-family:$fontHeadLine;

}
.dashboard--center-bottom{
    width:100%;
    max-height:50%;
    background-color:$darkGreen;
    border:0.3px solid $gray;


}

.dashboard--rigth-bottom-logout{
    width:100%;
    max-height:50%;
    background-color:$darkBlue;
    border:0.3px solid $gray;
    overflow-y:auto;
    display:flex;
    flex-direction:column;


}
.dashboard--rigth-bottom-logout img {
    width:30%;
    height:30%;
    margin:auto;
    background-color:transparent;
    cursor:pointer;
    border:none;


}


@media only screen and (min-width:650px){
    .dashboard--top-nav{
        width:100%;
        
    
    
    }

    .dashboard--top{
        height:50%;
        width:100%;
        display:flex;
        flex-direction:row;
    }


    .dashboard--center-bottom h1{
            border-bottom:1px solid $gray;

        }
  
   
 
    
    .dashboard--top{
        height:50%;
        width:100%;
        display:flex;
        flex-direction:row;
        

        
    }
    .dashboard--left-top-welcome{
        background-image: url('../../../images//dashbordImage.jpg');
        
        background-position:50% 20%;
        background-size: cover;
    
        height:100%;
        width:73.3%;
        border:0.3px solid $gray;
        color:$white;
    
       
    
    }
    .dashboard--left-top-welcome h1{
        flex-wrap:wrap;
        background:rgba(4, 4, 93, 0.493);
        width:100%;
        font-size:10vh;
    }
    .dashboard--left-top-welcome h1 span{
        color:$highlightBlue;
    }
    .dashboard--center-top-totalHours{
       width:30%;
        height:100%;
        background-color:$darkGreen;
        border:0.3px solid $gray;

    }
    
    .dashboard--center-top-totalHours h1{
font-size:6.5vh;
}    
.dashboard--bottom{
        width:100%;
        height:50%;
        display:flex;
        flex-direction:row;

      
    }
    .dashboard--left-bottom-myWall{
        width:30%;
        max-height:100%;
        background-color:$darkBlue;
        border:0.3px solid $gray;
        overflow-y:auto;
        padding:0 3%  0 3%;

    }
 
    .dashboard--center-bottom{
        width:30%;
        max-height:100%;
        background-color:$darkGreen;
        border:0.3px solid $gray;
    
        padding:0 3%  0 3%;

    }
    .dashboard--rigth-bottom-logout{
        width:33.3%;
        max-height:100%;
        background-color:$darkBlue;
        border:0.3px solid $gray;
        display:flex;
        justify-content:center;
        align-items:center;

    }
    .dashboard--rigth-bottom-logout img {
        width:30%;
        height:30%;
        margin:auto;
        background-color:transparent;
        cursor:pointer;
        border:none;

    }
    
       
}